.loginForm > div {
  display: flex;
  flex-direction: column;
}
.loginForm > div:last-child {
  flex-direction: row;
  justify-content: space-evenly;
}
.loginForm h2 {
  margin: 0;
  margin-bottom: 20px;
}
.loginForm label {
  font-weight: bold;
  margin-bottom: 8px;
}

.loginForm input[type="text"],
.loginForm input[type="email"],
.loginForm input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 16px;
}

.loginForm input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}

.loginForm button[type="submit"] {
  width: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.loginForm button[type="submit"]:hover {
  background-color: #0062cc;
}

.loginForm button[type="button"] {
  width: 30%;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.loginForm button[type="button"]:hover {
  background-color: #bfbfbf;
}
